<html>
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{{ SP.WordPress.title() }}</title>
    {% endblock %}

    {% block stylesheets %}
        {{ SP.WordPress.header() }}
    {% endblock %}
</head>
<body {{ SP.WordPress.classes()}}>
{% block body %}
    {% block header %}
        {% include "layout/header.html.twig" %}
    {% endblock %}

    {% block content %}
        <section class="content">
            <div class="row column">
                <h1>{{ SP.WordPress.title() }}</h1>
                {{ SP.WordPress.content() }}
            </div>
        </section>
    {% endblock %}

    {% block footer %}
        {% include "layout/footer.html.twig" %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ SP.WordPress.footer() }}
{% endblock %}
</body>
</html>
