<h1 class="title">{{ title }}</h1>
{{ form_start(form) }}
{{ form_errors(form) }}

<p class="submit">
    {{ form_widget(form.clear_cache, { 'attr': {'class': 'button button-primary'} }) }}
</p>

<script language="JavaScript">
    jQuery(document).ready(function($){
        $('.form-table .dashicons-camera').css({'margin': '3px 3px 0 0'});
        $('.preview').css({ 'width': '25em', 'float': 'none'});
        $('.preview img').css({ 'max-width': '25em', 'max-height': '10em'});

        var _custom_media = true;
        var _orig_send_attachment = wp.media.editor.send.attachment;

        $('.media.button').click(function(e) {
            var send_attachment_bkp = wp.media.editor.send.attachment;
            var button = $(this);
            var id = button.attr('id').replace('_button', '');
            var preview = button.attr('id').replace('_button', '_preview');
            console.log(preview);
            _custom_media = true;
            wp.media.editor.send.attachment = function(props, attachment){
                if ( _custom_media ) {
                    $("#"+id).val(attachment.url);
                    $("#"+preview).attr('src', attachment.url);
                } else {
                    return _orig_send_attachment.apply( this, [props, attachment] );
                }
            };

            wp.media.editor.open(button);
            return false;
        });

        $('.add_media').on('click', function(){
            _custom_media = false;
        });
    });
</script>

<h2>Logos</h2>
<table class="form-table">
    <tbody>
        <tr>
            <th scope="row">{{ form_label(form.logo) }}</th>
            <td>
                <div class="preview">
                    <img src="{{ form.logo.vars.value }}" alt="" id="logo_preview">
                </div>
                {{ form_widget(form.logo, {attr: {class: 'regular-text'}}) }}
                <button id="logo_button" class="media button" name="logo_button">
                    <span class="dashicons dashicons-camera"></span> Media
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">{{ form_label(form.mobile_logo) }}</th>
            <td>
                <div class="preview">
                    <img src="{{ form.mobile_logo.vars.value }}" alt="" id="mobile_logo_preview">
                </div>
                {{ form_widget(form.mobile_logo, {attr: {class: 'regular-text'}}) }}
                <button id="mobile_logo_button" class="media button" name="mobile_logo_button">
                    <span class="dashicons dashicons-camera"></span> Media
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">{{ form_label(form.admin_logo) }}</th>
            <td>
                <div class="preview">
                    <img src="{{ form.admin_logo.vars.value }}" alt="" id="admin_logo_preview">
                </div>
                {{ form_widget(form.admin_logo, {attr: {class: 'regular-text'}}) }}
                <button id="admin_logo_button" class="media button" name="admin_logo_button">
                    <span class="dashicons dashicons-camera"></span> Media
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">{{ form_label(form.favicon) }}</th>
            <td>
                <div class="preview">
                    <img src="{{ form.favicon.vars.value }}" alt="" id="favicon_preview">
                </div>
                {{ form_widget(form.favicon, {attr: {class: 'regular-text'}}) }}
                <button id="favicon_button" class="media button" name="favicon_button">
                    <span class="dashicons dashicons-camera"></span> Media
                </button>
            </td>
        </tr>
    </tbody>
</table>

<h2 class="title">Analytics</h2>
<table class="form-table">
    <tbody>
        <tr><th scope="row">{{ form_label(form.universal_analytics) }}</th><td>{{ form_widget(form.universal_analytics) }}</td></tr>
        <tr><th scope="row">{{ form_label(form.tracking_id) }}</th><td>{{ form_widget(form.tracking_id, {attr: {class: 'regular-text'}}) }}</td></tr>
    </tbody>
</table>

<h2 class="title">Social Media</h2>
<table class="form-table">
    <tbody>
        <tr><th scope="row">{{ form_label(form.facebook) }}</th><td>{{ form_widget(form.facebook, {attr: {class: 'regular-text'}}) }}</td></tr>
        <tr><th scope="row">{{ form_label(form.twitter) }}</th><td>{{ form_widget(form.twitter, {attr: {class: 'regular-text'}}) }}</td></tr>
        <tr><th scope="row">{{ form_label(form.linkedin) }}</th><td>{{ form_widget(form.linkedin, {attr: {class: 'regular-text'}}) }}</td></tr>
        <tr><th scope="row">{{ form_label(form.pinterest) }}</th><td>{{ form_widget(form.pinterest, {attr: {class: 'regular-text'}}) }}</td></tr>
        <tr><th scope="row">{{ form_label(form.instagram) }}</th><td>{{ form_widget(form.instagram, {attr: {class: 'regular-text'}}) }}</td></tr>
        <tr><th scope="row">{{ form_label(form.youtube) }}</th><td>{{ form_widget(form.youtube, {attr: {class: 'regular-text'}}) }}</td></tr>
    </tbody>
</table>

<p class="submit">
    {{ form_widget(form.submit, { 'attr': {'class': 'button button-primary'} }) }}
</p>
{{ form_widget(form) }}
{{ form_end(form) }}
